@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply font-Inter overflow-x-hidden;
}

.rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.rc-dropdown-menu > .rc-dropdown-menu-item-selected {
  @apply bg-light-pink !important;
}

.rc-dropdown-menu > .rc-dropdown-menu-item-active {
  @apply bg-dark-pink text-white !important;
}

.rc-dropdown-menu li {
  @apply h-1/2 flex items-center p-0 !important;
}

.rc-dropdown-menu ul {
  @apply h-20 !important;
}

.containers {
  @apply max-w-full w-full px-5 sm:px-[30px] md:max-w-[1020px] lg:max-w-[1300px] mx-auto;
}

.blend {
  background-blend-mode: overlay, color, overlay, difference, color-dodge,
    difference, normal;
}

.nav {
  a {
    @apply font-medium lg:text-base xl:text-xl px-2 leading-none transition-all duration-[0.15s] cursor-pointer;
    &:hover {
    }
    &.active {
    }
  }
}
.menu {
  a {
    @apply font-medium text-[1rem] py-[15px] leading-[1.2] border-b-[1px] border-solid border-[#e8e5e5] transition-all duration-[0.25s] hover:text-black cursor-pointer;

    &.active {
      @apply text-black;
    }
  }
}

.card {
  &:not(:last-child) {
    @apply lg:mr-5;
  }
}

.flip-y {
  transform: rotateY(180deg);
  display: flex;
  justify-content: flex-end;
  @media (min-width: 1024px) {
    transform: rotateY(0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
