@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./custom.css";
@import "./prism.css";
@import "./countdown.css";
@import "./loader.css";
@import "./responsive.css";

* {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply font-Inter overflow-x-hidden;
}

/* RC DROPDOWN */

.rc-dropdown-menu > .rc-dropdown-menu-item:hover,
.rc-dropdown-menu > .rc-dropdown-menu-item-selected {
  @apply bg-light-pink !important;
}

.rc-dropdown-menu > .rc-dropdown-menu-item-active {
  @apply bg-dark-pink text-white !important;
}

.rc-dropdown-menu li {
  @apply h-1/2 flex items-center p-0 !important;
}

.rc-dropdown-menu ul {
  @apply h-20 !important;
}

/* SWIPER JS */

.swiper-slide {
  @apply flex items-center;
}

.swiper-button-next {
  @apply left-[52%] bg-[url('/images/swiper/arrow-right-circle.svg')] bg-no-repeat top-[97%] w-9 ml-4 !important;
  &::after {
    @apply hidden;
  }
}
.swiper-button-prev {
  @apply left-[48%] bg-no-repeat bg-[url('/images/swiper/arrow-left-circle.svg')] top-[97%] w-9 -ml-4 !important;
  &::after {
    @apply hidden;
  }
}

.swiper-wrapper {
  @apply h-full !important;
}

/* NATIVE CODE */
.containers {
  @apply max-w-full w-full px-5 sm:px-[30px] md:max-w-[1020px] lg:max-w-[1300px] mx-auto;
}

.blend {
  background-blend-mode: overlay, color, overlay, difference, color-dodge,
    difference, normal;
}

.nav {
  a {
    @apply font-medium lg:text-base xl:text-xl px-2 leading-none transition-all duration-[0.15s] cursor-pointer;
    &:hover {
    }
    &.active {
    }
  }
}
.menu {
  a {
    @apply font-medium text-[1rem] py-[15px] leading-[1.2] border-b-[1px] border-solid border-[#e8e5e5] transition-all duration-[0.25s] hover:text-black cursor-pointer;

    &.active {
      @apply text-black;
    }
  }
}

.card {
  &:not(:last-child) {
    @apply lg:mr-5;
  }
}

.flip-y {
  transform: rotateY(180deg);
  display: flex;
  justify-content: flex-end;
  @media (min-width: 1024px) {
    transform: rotateY(0);
  }
}

.focus {
  @apply text-xs top-[13px] md:text-sm md:top-[14px] font-normal !important;
}

.calc {
  top: calc(4px + 1%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: smooth;
}
.sidebar {
  @apply fixed top-0 bottom-0 z-40 block w-full;
  max-width: 16.2rem;
  /*  transition-all duration-500 ease-linear */
  & + .main-content {
    margin-left: 16.2rem;
  }
  .sidebar-logo {
    @apply m-0 mb-0 ml-4 text-2xl opacity-100;
  }
  .sidebar-body {
    @apply relative block h-fit pt-0 pr-4 overflow-scroll;
    .iq-main-menu {
      @apply flex flex-col pb-4 pl-0 mb-0;
      .default-icon {
        @apply font-medium;
      }
      .mini-icon {
        @apply hidden;
      }
      .iq-sidebar {
        @apply relative pl-4 mt-1;
        .item-name {
          @apply flex-1 ml-4 text-base font-normal opacity-100 whitespace-nowrap;
        }
      }
      .nav-link {
        @apply px-4 py-2 flex items-center rounded;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .sidebar {
    & + .main-content {
      margin-left: 0;
    }
    .sidebar-toggle {
      right: 18px;
    }
  }
  .dual-compact {
    & + .main-content {
      margin-left: 0;
    }
  }
}
/*dual-compact */
.dual-compact {
  @apply fixed top-0 bottom-0 z-40 block w-full  bg-black;
  max-width: 100%;
  & + .main-content {
    margin-left: 16.2rem;
  }
}

.dual-compact-mini {
  @apply fixed top-0 bottom-0 z-40 block  bg-black;
  max-width: 4.8rem;
  & + .main-content {
    margin-left: 4.8rem;
  }
}

/*  sidebar-mini class */
.sidebar-mini {
  @apply fixed top-0 bottom-0 z-40 block;
  max-width: 4.8rem;
  & + .main-content {
    margin-left: 4.8rem;
  }
  .sidebar-logo {
    @apply hidden;
  }
  .sidebar-body {
    @apply relative block max-h-screen pt-0 pr-4 px-4 overflow-scroll;
    .iq-main-menu {
      @apply flex flex-col items-center py-4 pl-0 mb-0;
      .default-icon {
        @apply hidden;
      }
      .mini-icon {
        @apply block;
      }
      .iq-sidebar {
        @apply relative pl-0 mt-1;
        .item-name {
          @apply hidden;
        }
        .right-icon {
          @apply hidden;
        }
      }
      .nav-link {
        @apply p-3 flex rounded bg-blue-500 text-white shadow-lg;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .sidebar.sidebar-mini + .main-content {
    margin-left: 0;
  }
  .sidebar.sidebar-mini {
    transform: translateX(-150%);
  }
  .dual-compact.dual-compact-mini + .main-content {
    margin-left: 0;
  }
  .dual-compact.dual-compact-mini {
    transform: translateX(-100%);
  }
}

/*  charts */
.d-activity {
  min-height: 230px !important;
}

/* Pricing page */
.type {
  transform: translateX(-50%);
}

.active {
  @apply bg-blue-500 text-white;
}

.gradient {
  @apply h-screen  items-center relative justify-center overflow-hidden m-auto flex;
  background: radial-gradient(20% 60% at 50% 50%, #3b8aff 0%, #0048b3 100%);
  .c {
    background: radial-gradient(
      60% 60% at 50% 50%,
      transparent 67%,
      rgba(0, 0, 0, 0.470588) 100%
    );
    padding: 9rem;
    .xs-circle {
      padding: 330px;
    }
  }
}

.gradient-bottom {
  @apply items-center relative justify-center overflow-hidden m-auto flex h-96;
  background: radial-gradient(20% 60% at 50% 50%, #3b8aff 0%, #0048b3 100%);
  .c {
    background: radial-gradient(
      60% 60% at 50% 50%,
      transparent 67%,
      rgba(0, 0, 0, 0.470588) 100%
    );
    padding: 9rem;

    .xl-circle {
      transform: translate(223px, -342px);
    }
    .lg-circle {
      transform: translate(84px, 26px);
    }
    .md-circle {
      transform: translate(114px, 16px);
    }
    .sm-circle {
      transform: translate(62px, 14px);
    }
    .xs-circle {
      padding: 250px;
      transform: translate(41px, 15px);
    }
  }
}

[dir="rtl"] {
  .sidebar {
    & + .main-content {
      margin-right: 16.2rem;
      margin-left: unset;
    }
  }

  .sidebar-mini + .main-content {
    margin-left: unset;
    margin-right: 4.8rem;
  }
  .LR {
    direction: ltr;
  }
  .RL {
    direction: rtl;
  }
  .right-0 {
    left: 0px;
    right: unset;
  }
  .right-72 {
    left: 18rem;
    right: unset;
  }
  .right-80 {
    left: 20rem;
    right: unset;
  }
  .right-60 {
    left: 15rem;
    right: unset;
  }
  .right-4 {
    left: 1rem;
    right: unset;
  }
  .sidearrow {
    left: -1rem;
    right: unset;
  }

  .left-0 {
    right: 0rem;
    left: unset;
  }

  @media (max-width: 1199.98px) {
    .sidebar.sidebar-mini {
      transform: translateX(0%);
      display: none;
    }
    .sidebar + .main-content {
      margin-right: 0;
      margin-left: unset;
    }
    .sidebar-mini + .main-content {
      margin-left: unset;
      margin-right: 0;
    }
  }
  .shadow-active {
    .right-icon {
      transform: rotate(-90deg) !important;
    }
  }

  .L {
    left: 0rem !important;
    right: unset !important;
  }
  .R {
    right: 0rem !important;
  }
}
